body{
  scrollbar-width: thin;

}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(153, 153, 153);
  border-radius: 10px;
}
.height-cls{
  height: 174px;
    overflow-x: auto;
}
.sidebar {
  background: #f1eef7;
}

@media (min-width:1200px) {
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0px 0 0; /* Height of navbar */
 
}
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar .navbar-brand{
  background-color: transparent;
}
.sidebar .navbar-brand img {
  width: 145px;
}
.sidebar .nav-item a {
  font-weight: 500;
  color: #4c4c4c;
  font-size: 17px;
  padding: 15px 15px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}
.sidebar .nav{
  margin-left: 40px;
  background: #fff;
  border-radius: 20px;
  padding: 15px 15px;
  margin-right: 40px;
}
.sidebar .navbar{
  padding-left: 30px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-item .active {
  color: #fff !important;
  background: #0174DF;
  background: -webkit-linear-gradient(to right, #0174DF 0%, #5D3BA2 100%);
  background: -moz-linear-gradient(to right, #0174DF 0%, #5D3BA2 100%);
  background: linear-gradient(to right, #0174DF 0%, #5D3BA2 100%);
    border-radius: 10px;
    border-right: 4px solid;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}
.my-react-project{
  background: #f1eef7;
}
.main-content{
  background: #f1eef7;
  min-height: 100vh;
  padding: 20px 0px;
}
.main-content .form-select:focus {
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}
.main-content .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}
.main-content .my-search, .main-content .form-select{
  background-color: #f2f1f9;
}
.main-content .d-flex h4{
  color: #444444;  
}
.arrow{
  color: #6d6d7c;
    box-shadow: 0px 2px 8px #b5b5b5;
    font-size: 19px;
    border-radius: 28px;
    line-height: 26px;
    width: 29px;
    height: 30px;
    display: inline-block;
    text-align: center;
}
.my-table thead{
  background: #e6e6ee;
}
.my-table thead tr th{
  border: none;
  padding: 0.99rem 0.5rem;
  font-size: 17px;
}
.my-table tbody tr{
  border-top: 10px solid #f1eef7;
    background: #fff;
    border-radius: 5px !important;
}
.my-table tbody tr td{
  padding: 0.8rem 0.5rem;
  background: #fff;
  line-height: 35px;
}
.my-table tbody tr:last-child td{
  border:none;
}
.my-btn{
  background: #0174DF;
  background: #0174DF;
background: -webkit-linear-gradient(to right, #0174DF 0%, #5D3BA2 100%);
background: -moz-linear-gradient(to right, #0174DF 0%, #5D3BA2 100%);
background: linear-gradient(to right, #0174DF 0%, #5D3BA2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  background-color: #fdfdfd;
  border-color: #101010;
  padding: 0.375rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
}

.my-btn:hover{
  background: #0174DF;
  background: -webkit-linear-gradient(to right, #0174DF 0%, #5D3BA2 100%);
  background: -moz-linear-gradient(to right, #0174DF 0%, #5D3BA2 100%);
  background: linear-gradient(to right, #0174DF 0%, #5D3BA2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #fdfdfd;
  border-color: #101010;
}

.banner-sec{
  background: rgb(160,102,204);
  background: linear-gradient(90deg, rgba(160,102,204,1) 0%, rgba(23,54,179,1) 100%);
}
.box-1 img{
  width: 70px;
  height: 70px;
}
.box-1 .d-flex{
  justify-content: space-between;
}

.my-card-1, .my-card-2, .my-card-3{
  border-radius:10px ;
  box-shadow: 0px 2px 8px #ccc;
  margin-top: -70px;
}
.my-card-1 .card-body, .my-card-2 .card-body, .my-card-3 .card-body{
  border-radius: 0px 0px 10px 10px;
  min-height:200px;

}
.my-card-5, .my-card-6{
  border-radius: 10px 10px 10px 10px;
  min-height:300px;
  box-shadow: 0px 2px 8px #ccc;
}
.card-header{    border-bottom: 2px solid #fff;padding: 0.7rem 1rem;}
.cardicon-1{
  text-align: center;
    border: 6px solid #fcd975;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 60px;
    margin: 0 auto;
    background: #fff;
    z-index: 999;
    position: relative;
}
.cardicon-2{
  text-align: center;
    border: 6px solid #a1d3f6;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 60px;
    margin: 0 auto;
    background: #fff;
    z-index: 999;
    position: relative;
}
.my-card-1 .card-header{
  color: #333332;
  background: #fcd975;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-card-1 .card-body{
  background: #fcd975;
}
.my-card-1 .card-header img, .my-card-2 .card-header img, .my-card-3 .card-header img, .my-card-4 .modal-header img, .my-card-5 .card-header img, .my-card-8 .card-header img, .my-card-9 .card-header img, .my-card-10 .card-header img, .my-card-11 .card-header img{
  width: 50px;
}
.my-card-2 .card-header{
  color: #333332;
    background: #a1d3f6;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-card-2 .card-body{
    background: #a1d3f6;
  
}
.my-card-3 .card-header{
  color: #000;
    background: #ff94ae;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-card-3 .card-body{
    background: #ff94ae;  

}
.my-card-3 .card-body textarea.form-control{
  background: #ff94ae;  

}
.cardicon-3{
  text-align: center;
    border: 6px solid #ff94ae;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 60px;
    margin: 0 auto;
    background: #fff;
    z-index: 999;
    position: relative;
}
.my-card-5 .card-body{
  min-height: 380px;
  background: #d7b9ed;
}
.my-card-5 .card-body textarea{
  background: #d7b9ed;
}
.my-card-5{
  margin-top: -70px;
}
.my-card-5 .card-header{
  color: #333332;
    background: #d7b9ed;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardicon-5 {
  text-align: center;
  border: 6px solid #d7b9ed;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 60px;
  margin: 0 auto;
  background: #fff;
  z-index: 999;
  position: relative;
}
.my-card-6 .card-header{
  color: #333332;
  /* padding: 19px 15px; */
  background: #fcd975;
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;

}
.my-card-6{
  margin-top: -70px;
}
.my-card-6 .card-body{
  background: #fcd975;
  border-radius: 0px 0px 10px 10px;
  min-height: 380px;
  padding-top: 0px;
}
.cardicon-6 {
  text-align: center;
  border: 6px solid #fcd975;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 60px;
  margin: 0 auto;
  background: #fff;
  z-index: 999;
  position: relative;
}
.my-card-7 .card-header{
 color: #333332;
  
  background: #a1d3f6;
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}
.my-card-7{
  margin-top: -70px;
}
.my-card-7 .card-body{
  background: #a1d3f6;
  border-radius: 0px 0px 10px 10px;
  min-height: 380px;
  padding-top: 0px;
}
.cardicon-7 {
  text-align: center;
  border: 6px solid #a1d3f6;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 60px;
  margin: 0 auto;
  background: #fff;
  z-index: 999;
  position: relative;
}

.my-card-8 .card-header{
  color: #333332;
    background: #d7b9ed;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-card-8 {
  box-shadow: 0px 2px 8px #ccc;
  border-radius: 10px 10px 10px 10px;
  margin-top: -70px;
  
}
.my-card-8 .card-body{
  border-radius: 0px 0px 10px 10px;
}
.cardicon-8 {
  text-align: center;
  border: 6px solid #d7b9ed;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 60px;
  margin: 0 auto;
  background: #fff;
  z-index: 999;
  position: relative;
}

.my-card-9 .card-header{
  color: #363636;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #d7b9ed;
  border-bottom: none;
}
.my-card-9 { 
  border-radius: 10px 10px 10px 10px;
 
}

.my-card-10 .card-header{
  color: #363636;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #d7b9ed;
  border-bottom: none;
}
.my-card-10 {
  border-radius: 10px 10px 10px 10px;
}
.my-card-11 .card-header{
  color: #333332;
    background: #a5e6d2;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-card-11 {
  box-shadow: 0px 2px 8px #ccc;
  border-radius: 10px 10px 10px 10px;
  margin-top: -70px;
}
.my-card-11 .card-body{
  background: #a5e6d2;
  border-radius: 0px 0px 10px 10px;
}
.cardicon-11 {
  text-align: center;
  border: 6px solid #a5e6d2;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 60px;
  margin: 0 auto;
  background: #fff;
  z-index: 999;
  position: relative;
}
.my-card-11 .card-body,.my-card-11-1 .card-body, .my-card-10 .card-body, .my-card-9 .card-body{
  min-height: 200px;
}
.my-card-11-1 .card-header{
  color: #333332;
    background: #a5c1f3;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-card-11-1 {
  box-shadow: 0px 2px 8px #ccc;
  border-radius: 10px 10px 10px 10px;
  
}
.my-card-11-1 .card-body{
  background: #a5c1f3;
  border-radius: 0px 0px 10px 10px;
}
.my-card-11-1 .card-body textarea{
  background: #a5c1f3;
}


.my-btn2{
  background: #11358d;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 7px 30px;
  font-size: 20px;
}
.my-btn3{
  background: #11358d;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 7px 30px;
  font-size: 20px;
}
.my-btn5{
  background: #1736b3;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 7px 30px;
  font-size: 20px;
}
.my-card-4{
  border: 0px solid rgba(0,0,0,.2);
  background-color: transparent;
}
.my-card-4 .modal-header{
  color: #303030;
    background: #bee89e;
    margin-top: -70px;
}
.my-card-4 .modal-body, .my-card-4 .modal-footer{
  background: #bee89e;
}
.my-card-4 .modal-body textarea{
  background: #bee89e;
}
.cardicon-4{
  text-align: center;
    border: 6px solid #bee89e;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 60px;
    margin: 0 auto;
    background: #fff;
    z-index: 999;
    position: relative;
}

.my-input{
  border: none;
    min-height: 150px;
}
.my-input:focus{
  box-shadow:none;
}
/* FILE UPLOAD */

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 350px;
  border: 2px dashed rgb(255, 255, 255);
  padding: 2rem;
}

.dropzone p{margin-top: 10px;color: #080808;font-weight: 600;}
.dropzone button{
  background: #fff;
  font-weight: 600;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  margin-top: 20px;
}
.actions button{
  background: #fff;
  font-weight: 600;
  border: none;
  padding: 7px 24px;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 10px;
}

.accordion-button::after{
  content: none;
}


.accordion-button{
    color: #fff !important; 
  border-radius: 0px 0px 10px 10px !important;
  padding: 15px 15px; 
}
.accordion-button h4{
  color: #fff !important;
}
.my-card-12 .accordion-button img{
  width: 50px;
}
.my-card-12 .accordion-item{
  border-radius: 10px 10px 0px 0px !important;
}
.accordion-button:focus{
  box-shadow: none;
}

.color1{
  background: #ff94ae !important;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
  border-right: 2px solid #f2f1f9 !important;
}
.color2{
  background: #28d1ce !important;
  color: #fff;
  border-right: 2px solid #f2f1f9 !important;
}
.color3{
  background: #3584c7 !important;
  color: #fff;
  border-right: 2px solid #f2f1f9 !important;
}
.color4{
  background: #6cce6b !important;
  color: #fff;
  border-right: 2px solid #f2f1f9 !important;
}
.color5{
  background: #aacd4f !important;
  color: #fff;
  border-right: 2px solid #f2f1f9 !important;
}
.color6{
  background: #f4c738 !important;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
}





